# Ignorar arquivos temporários e artefatos de compilação
*.swp
*.swo
*.swn
*.swo
*.pyc
__pycache__/
*.class
*.jar
*.war
*.ear
/target/
/bin/
/obj/

# Ignorar arquivos de compilação do CMake em projetos C++
/cmake-build-debug/
/CMakeFiles/
/CMakeScripts/
/CMakeCache.txt
/CMakeSettings.json

# Ignorar arquivos de configuração específicos da IDE
/.vscode/
/.idea/
/.project
/.classpath
*.sublime-workspace
*.sublime-project

# Ignorar arquivos de dependências e saída de compilação
/node_modules/
/bower_components/
*.log

# Ignorar arquivos de compilação específicos da linguagem
*.o
*.ko
*.cgo
*.exe
*.dll
*.obj
*.out

# Ignorar arquivos de cache e logs
.cache/
logs/

# Ignorar arquivos de resultados de teste
/test-results/

# Ignorar arquivos específicos de linguagens
/clojure/target/
/cpp/build/
/csharp/obj/
/dart/build/
/elixir/_build/
/go/bin/
/go/pkg/
/go/vendor/
/prolog/*.bin
/prolog/*.out
/python/__pycache__/
/rust/target/
/tcl/*.o